name: Publish
on: push

jobs:
  publish:
    runs-on: ubuntu-latest
    env:
      PUBLISH_USERNAME: ${{ vars.PUBLISH_USERNAME }}   # variable del repo
      PUBLISH_TOKEN: ${{ secrets.PUBLISH_TOKEN }}       # secret del repo
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
      - uses: gradle/gradle-build-action@v3
        with:
          arguments: publish
