name: Publish
on: push

jobs:
  publish:
    runs-on: ubuntu-latest
    env:
      PUBLISH_USERNAME: ${{ vars.PUBLISH_USERNAME }}
      PUBLISH_TOKEN: ${{ secrets.PUBLISH_TOKEN }}
      CI_VERSION: 0.1.${{ github.run_number }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
      - uses: gradle/gradle-build-action@v3
        with:
          arguments: clean build publish --info --stacktrace
